header{
    background-color: bisque;
    padding: 25px;
    border: 2px solid red;
}

header div:first-child span a {
    font-size: 30px;
    font-weight: bold;
    color: chocolate;
    text-decoration: none;
}
header>div:nth-child(2) span:first-child a{
    color: brown;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

header div:nth-child(2) span:nth-child(2) a{
    color: darkkhaki;
    font-size: 45px;
    text-decoration: none;
    font-weight: 800;
    margin-left: 30px;

}

header div:nth-child(3) span a{
    font-size: 30px;
    font-weight: bold;
    color: rgb(181, 207, 93);
    text-decoration: none;
    margin: 35px 0px 40px;
}

main{
    background-color: rgb(103, 179, 127);
    padding: 15px;
    margin-top: 20px;
}

main div:first-child{
    color: rgb(15, 26, 26);
}
main>div>div>p:nth-child(1){
    color: rgb(83, 111, 145);
    background-color: rgb(206, 175, 222);
    border-radius: 5px;
    border: 2px solid black;
}
footer{
    background-color: rgb(185, 149, 191);
    padding: 50px;
    margin-top: 30px;
    border: 2px solid rgb(180, 69, 69);
}
footer div {
    margin: auto;
    background-color: rgb(209, 121, 188);
    width: 400px;
    padding: 25px;
}
footer span {
    margin-left: 40px;
    font-weight: 500;
}
footer span:nth-child(4){
    color: bisque;
    font-size: 25px;
}